.Hero {
  /* border: 1px solid black; */
  position: relative;
  .bgContainer {
    .bg {
      background-position: center;
      background-size: cover;
    }
    .bgOne {
      background-image: url("./../../../../public/home/hero/bg01.png");
      height: 40.5vw;
    }
    .bgTwo {
      background-image: url("./../../../../public/home/hero/bg02.png");
      height: 46.5vw;
    }
  }

  .contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .containerOne {
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5vw;
      .cards {
        /* border: 1px solid black; */
        margin-top: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
      }
    }
    .containerTwo {
      /* border: 1px solid red; */
    }
  }
}
