.MobileNavbar {
  /* border: 1px solid #fff; */
  width: 70%;
  height: 100vh;
  background-color: #3d3b40;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform ease-in-out 0.5s;
  .navLinkContainer {
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    position: relative;
    .navLinks {
      text-decoration: none;
      .list {
        list-style-type: none;
        font-size: 6vw;
      }
    }
  }
  .close {
    /* border: 1px solid white; */
    position: absolute;
    top: 3%;
    right: 6%;
    font-size: 1vw;
  }
}

.showSidebar {
  transform: translateX(0);
}
