.AiDriven {
  /* border: 1px solid black; */
  display: flex;
  padding: 3vw 4vw;
  justify-content: space-between;
  .leftContainer {
    margin-left: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 42%;
    .btn {
      margin: 0 auto;
      font-size: 1.5vw;
      border-radius: 1.5vw;
    }
  }
  .rightContainer {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    .first,
    .second {
      display: flex;
      flex-direction: column;
      gap: 1vw;
      .imgContainer {
        background: linear-gradient(white, white) padding-box,
          linear-gradient(to right, #ff93df, #7a21bb) border-box;
        border: 0.2vw solid transparent;
        width: 14vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        .img {
          border-radius: 2vw;
        }
      }
      .iconContainer {
        width: 5vw;
      }
      .avengerContainer {
        width: 18vw;
        border-radius: 2vw;
        background: linear-gradient(white, white) padding-box,
          linear-gradient(to right, #ff93df, #7a21bb) border-box;
        border: 0.2vw solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
          border-radius: 2vw;
        }
      }
    }
  }
}
