.InstantFaceSwap {
  width: 100%;
  /* border: 1px solid black; */
  padding: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./../../../../public/home/instantFaseSwap/instantFaceSwapBg.png");
  background-position: center;
  background-size: cover;
  position: relative;
  .leftContainer {
    /* border: 1px solid black; */
    width: 50%;
    margin-left: 2%;
    .title {
      font-size: 3.5vw;
      color: #fff;
    }
  }
  .rightContainer {
    /* border: 1px solid black; */
    width: 50%;
    .imgContainer01 {
      width: 20vw;
      display: flex;
      place-items: center;
      position: absolute;
      bottom: 0;
      right: 35%;
    }
    .imgContainer02 {
      width: 20vw;
      display: flex;
      place-items: center;
      position: absolute;
      bottom: 0;
      right: 20%;
    }
    .imgContainer03 {
      width: 25vw;
      display: flex;
      place-items: center;
      position: absolute;
      bottom: 0;
      right: 5%;
    }
  }
}


@media screen and (max-width : 480px) {
  .InstantFaceSwap{
    flex-direction: column;
    .rightContainer{
      width: 100%;
      .imgContainer01{
        width: 40%;
        left: 0;
      }
      .imgContainer02{
        width: 40%;
        left: 30%;
      }
      .imgContainer03{
        width: 52%;
        right: 0;
      }
    }
    .leftContainer{
      margin-bottom: 11rem;
      width: 90%;
      .title{
        font-size: 2rem;
      }
    }
  }
}